img{
    width: 80PX;
    height: 90px;
}
.humidity{
display: flex;
justify-content: flex-start;

}
#date{
    font-size: 30px;
    
}
.humidity ,#iconHumidity,.country{
    
    width: 40PX;
    height: 40px;
    
}
.cityDate{
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    
}